 <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" 
             href="{% url 'mercuri:Dashboard' %}" class="simple-text logo-mini">
            M
          </a>
          <a target="_blank" 
             href="{% url 'mercuri:Dashboard' %}" class="simple-text logo-normal">
             MSSP Dashboard
          </a>
        </div>


        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="{% url 'mercuri:Dashboard' %}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>

<!-- Comman for user and admin -->
          <!--<li>
            <a href="/docProfile.html">
              <i class="tim-icons icon-pin"></i>
              <p>Doctor profile</p>
            </a>
          </li>


          <li>
            <a href="/paProfile.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Patient Profile</p>
            </a>
          </li>-->

          <!-- Only for Admin -->
          <li>
            <a href="">
              <i class="tim-icons icon-single-02"></i>
              <p>Modify Patient</p>
            </a>
          </li>
          <li>
            <a href="{% url 'mercuri:modifyHospital' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Update Hospital Data</p>
            </a>
          </li>

          <li>
            <a href="{% url 'mercuri:addDoctor' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Add Doctor</p>
            </a>
          </li>

          <li>
            <a href="{% url 'mercuri:addStaff' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Add Staff</p>
            </a>
          </li>

          <li>
            <a href="{% url 'mercuri:addReception' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Add Reception</p>
            </a>
          </li>

          <li>
            <a href="{% url 'mercuri:addPatient' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Add Patient</p>
            </a>
          </li>
          <li>
            <a href="{% url 'mercuri:InstanceStatus' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Instance Status</p>
            </a>
          </li>
          <li>
            <a href="{% url 'mercuri:listPatients' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Patients List</p>
            </a>
          </li>
          <li>
            <a href="{% url 'mercuri:addHospital' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Add Hospital Data</p>
            </a>
          </li>
          <li>
            <a href="{% url 'mercuri:searchPatient' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>Search Patient</p>
            </a>
          </li>
          
          <!--<li>
            <a href="table.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Patient Data</p>
            </a>
          </li>-->


          <!-- <li>
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Add Staff</p>
            </a>
          </li>
      -->
       
          <!--<li><a href="">
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>-->
          
          
          
          


        </ul>
        {% endif %}
        
      </div>
    </div>