{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Modify Patient</h4>
      </div>
      <br><p>{{errorMessage}}<br>
      <div class="card-body">
        <form role="form" method="post" action="">
            {% csrf_token %} 

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="fName">First Name:</label>
                <input type="text" name="fName" class="form-control" value="{{pat.fName}}" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="lName">Last Name:</label>
                <input type="text" name="lName" class="form-control" value="{{pat.lName}}" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" value="{{pat.email}}" disabled>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" name="address" class="form-control" placeholder="Home Address" value="{{pat.address}}" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="age">Age: </label>
                <input type="text" class="form-control" name="age" value="{{pat.age}}" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="contactNo"> Contact Number: </label>
                  <input type="text" name="contactNo" class="form-control" size="10" value="{{pat.contactNo}}" disabled>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="patientID">Patient ID: </label>
                <input type="text" class="form-control" name="patientID" value="{{pat.patientID}}" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="operatedByDoctor"> Operated By Doctor: </label>    
                  <input type="text" name="operatedByDoctor"class="form-control" required value="{{pat.operatedByDoctor}}">
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="remarks">Report: </label>
                <input type="text"class="form-control" name="remarks" required value="{{pat.remarks}}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="medicalHistory"> Medical History: </label>    
                <input type="text" class="form-control" name="medicalHistory" value="{{pat.medicalHistory}}" disabled>
              </div>
            </div> 
          </div>
          <div class="row">
            <div  class="col-md-6 pr-md-1">
                <select name="currentStatus" class="form-control" required>
                  <option value="Active" style="background-color: #1d253b">Active</option>
                  <option value="Dead" style="background-color: #1d253b">Dead</option>
                  <option value="Recovered" style="background-color: #1d253b">Recovered</option>
                </select>
            </div>
            
            <div class="col-md-6 pr-md-1">
                <select name="ventilator" class="form-control" required>
                  <option value="Yes" style="background-color: #1d253b">Yes</option>
                  <option value="No" style="background-color: #1d253b">No</option>
                </select>
            </div>
          </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-fill btn-primary">Modify Patient</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>


  
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}