{% extends "layouts/base.html" %}

{% block title %} Hospital Data {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">

      <form role="form" method="post" action="">

        {% csrf_token %}
        <div class="card-header">
          <h5 class="title">Search Patient</h5>

          <h6 class="card-category">
            {% if errorMessage %}
            <span class="text-danger">{{ errorMessage }}</span>
            {% endif %}
          </h6>
        </div>
        <div class="card-body">
          <div class="col-md-6 pl-md-1" class="form-control">
            <div class="form-group">
              <label for="choice"> Query By: </label>
              <select name="choice" class="form-control" required>
                <option value="ID" style="background-color: #1d253b">ID</option>
                <option value="mail" style="background-color: #1d253b">E-Mail</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 px-md-1">
              <div class="form-group" style="padding-left: 10%;">
                <label for="query">Query</label>
                <input type="text" name="query" id="query" required>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary">Search Patient</button>
          &nbsp; &nbsp;
        </div>


      </form>
      <br><br>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">ID</th>
            <th scope="col">Operated By</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <a href="">
            <tr>
              <th scope="row">{{i.fName}} {{i.lName}}</th>
              {% if i.currentStatus == 'Active' %}
              <td><span style="color: #fad60c;">{{i.currentStatus}}</span></td>
              {% elif i.currentStatus == 'Dead' %}
              <td><span style="color: #ff4141;">{{i.currentStatus}}</span></td>
              {% elif i.currentStatus == 'Recovered' %}
              <td><span style="color: #07ce00;">{{i.currentStatus}}</span></td>
              {% endif %}
              <td>{{i.patientID}}</td>
              <td>{{i.operatedByDoctor}}</td>
              <td>{{i.email}}</td>
            </tr>
          </a>
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}