{% extends 'layouts/base.html' %}

{% block title %} List Patients {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="title">All Patients List</h4>
      </div>
      <br><p>{{error_message}}<br>
      <div class="card-body">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">ID</th>
                <th scope="col">Operated By</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
                {% for i in pat %}
              <a href = "{% url 'mercuri:modifyPatient' i.email %}"><tr>
                <th scope="row"><a href = "{% url 'mercuri:modifyPatient' i.email %}">{{i.fName}} {{i.lName}}</a></th>
                {% if i.currentStatus == 'Active' %}
                <td><span style="color: #fad60c;">{{i.currentStatus}}</span></td>
                {% elif i.currentStatus == 'Dead' %}
                <td><span style="color: #ff4141;">{{i.currentStatus}}</span></td>
                {% elif i.currentStatus == 'Recovered' %}
                <td><span style="color: #07ce00;">{{i.currentStatus}}</span></td>
                {% endif %}
                <td>{{i.patientID}}</td>
                <td>{{i.operatedByDoctor}}</td>
                <td>{{i.email}}</td>
              </tr></a>
              {% endfor %}
            </tbody>
          </table>
      </div>
      
    </div>
  </div>


  
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}